/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}

li {
  margin-right: 8px;
}

.input-area {
  width: 600px;
  border-radius: 8px;
  padding: 8px;
  margin: 8px auto ;
}

.incomplete-area {
  background-color: #c6ffe2;
  width: 600px;
  min-height: 200px;
  padding: 8px;
  margin: 8px auto ;
  border-radius: 8px;
}

.complete-area {
  background-color: #ffffe0;
  width: 600px;
  min-height: 200px;
  padding: 8px;
  margin: 8px auto ;
  border-radius: 8px;
}

.stop-area {
  background-color: rgb(255, 192, 192);
  width: 600px;
  min-height: 200px;
  padding: 8px;
  margin: 8px auto ;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.margin0 {
  margin: 0 ;
}

@media screen and (max-width: 700px) {

  .input-area {
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    margin: 20px auto ;
  }
  .incomplete-area {
    background-color: #c6ffe2;
    width: 90%;
    min-height: 200px;
    padding: 8px;
    margin: 8px auto ;
    border-radius: 8px;
  }
  .complete-area {
    background-color: #ffffe0;
    width: 90%;
    min-height: 200px;
    padding: 8px;
    margin: 8px auto ;
    border-radius: 8px;
  }
  .stop-area {
  background-color: rgb(255, 192, 192);
  width: 90%;
  min-height: 200px;
  padding: 8px;
  margin: 8px auto !important;
  border-radius: 8px;
}

}
